.photos__content {
  overflow-x: hidden;
}

.photos__gallery {
  @include center;
}

.photos__posting-form {
  background-color: #f2f2f2;
}

.photos__editor {
  @include center;
}

.photos__text {
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  margin: 20px 6.25% 40px 6.25%;
}

@media ($tablet-widths) {
  .photos__text {
    font-size: 18px;
    margin: 48px 5.715% 68px 5.715%;
  }
}

@media ($desktop-widths) {
  .photos__text {
    margin: 42px 10.835% 64px 10.835%;
  }
  .photos__posting-form {
    background-color: #fff;
  }
}
